<%= form_for @identity, :url => main_app.sign_in_path do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :remember, "Remember for #{@identity.remember_time.inspect}" %>
    <%= f.check_box :remember %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
