<%= form_for @identity, :url => main_app.sign_in_path do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :remember, "Remember for #{@identity.remember_time.inspect}" %>
    <%= f.check_box :remember %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
<p>Sign in with:</p>
<p>
  <%= link_to 'Google', o_auth2_sign_in_path(:provider => :google) %>
  <%= link_to 'Facebook', o_auth2_sign_in_path(:provider => :facebook) %>
  <%= link_to 'Github', o_auth2_sign_in_path(:provider => :github) %>
  <%= link_to 'Twitter', o_auth1_sign_in_path(:provider => :twitter) %>
  <%= link_to 'LinkedIn', o_auth1_sign_in_path(:provider => :linkedin) %>
</p>
