<p>
  <%= link_to 'Google',   o_auth2_sign_in_path(:provider => :google)   %>
  <%= link_to 'Facebook', o_auth2_sign_in_path(:provider => :facebook) %>
  <%= link_to 'Github',   o_auth2_sign_in_path(:provider => :github)   %>
  <%= link_to 'Twitter',  o_auth1_sign_in_path(:provider => :twitter)  %>
  <%= link_to 'LinkedIn', o_auth1_sign_in_path(:provider => :linkedin) %>
</p>
